---

/// Components Imports
import Background from "@/components/islands/salute/background.astro"
import BentoComponent from "@/components/islands/salute/bento/index.astro"

/// i18N Imports
import { getHomeDataInternational } from "@i18n/index.ts"

// Get locale selected
const { currentLocale } = Astro
const { SALUTE } = getHomeDataInternational({ currentLocale })

// Get random background image path
let arrMemoji = SALUTE.BENTO.MEMOJI_ICON
let random = Math.floor(Math.random() * arrMemoji.length)
let images = [arrMemoji[0], arrMemoji[random === 0 ? 1 : random]]

let salute = SALUTE.BENTO.NAME_TEXT_ONE
let social = SALUTE.BENTO.SOCIAL_LINKS
let contact = SALUTE.BENTO.PROJECT_IN_YOUR_MIND
let cv = SALUTE.BENTO.DOWNLOAD_CV
---

<section 
	id="salute"
	class="w-full h-auto lg:h-[95vh] flex mx-auto justify-center items-center align-middle rounded-b-[48px] bg-light dark:bg-slate-700/30 text-black dark:text-white backdrop-blur-xl transition-all duration-100 ease-in-out"
>
	<div 
		id="content"
		class="container w-full max-w-screen-[1440px] flex relative flex-col h-full mx-auto top-16 md:top-14 lg:top-0  lg:py-6 justify-center items-center align-middle gap-y-12 px-4"
	>
		<BentoComponent {salute} {social} {contact} {images} {cv} />
	</div>
	<Background />
</section>