---
/// i18N Imports
import { getHomeDataInternational } from "@i18n/index.ts"

// Get locale selected
const { currentLocale } = Astro
const { ABOUT } = getHomeDataInternational({ currentLocale })
---

<section 
	id="about"
	class="container w-screen h-auto py-10 md:py-14 lg:py-18 relative flex flex-col gap-y-12 justify-center 
	items-center align-middle transition-all duration-200 ease-in-out transform-gpu text-black dark:text-white"
>
	<div
		class="w-[90%] max-w-screen-xl h-auto mx-auto flex flex-col gap-y-20 justify-center items-center 
		align-middle z-10"
	>
		<header class="w-full h-auto text-[40pxl] md:text-[44px] lg:text-[52px] text-center justity-center 
			items-center align-middle">
			✌️
		</header>
		<div class="w-full h-auto flex flex-col justify-center items-center align-middle">
			<div 
				id="about"
				class="w-auto h-auto flex flex-col gap-y-14 justify-center items-center align-middle z-0"
			>
				{ ABOUT.TEXT.map((text: string[], index: number) => (
					<p class="w-[85%] h-auto text-[18px] md:text-[20px] lg:text-[22px] text-center justity-center 
						items-center align-middle uppercase font-semibold" id={`${index}`}>
						{text}
					</p>
				))}
			</div>
		</div>
		<ul
			id="buttons"
			class="w-auto h-auto inline-flex gap-2 flex-1 flex-wrap justify-center items-center 
			align-middle text-white"
		>
			{ABOUT.DOWNLOAD_BUTTONS.map((button: any) => (
				<li id={`button-${button.ID}`}>
					<a
						href={button.HREF} 
						target="_blank" 
						rel="noopener noreferrer"
						class={`w-auto h-auto inline-flex p-2 px-8 rounded-full justify-center items-center
						align-middle border-2 hover:border-transparent hover:bg-accent-two hover:-translate-x-1 
						hover:-translate-y-1 hover:text-black transition-all transform-gpu duration-300 
						ease-in-out text-[14px] font-bold`}
					>
						<span class="pointer-events-none">
							{button.TEXT}
						</span>
					</a>
				</li>
			))}
		</ul>
	</div>
</section>