---
/// Images Imports
import memoji from '@images/ec22897b-bbc7-4320-8822-d082d353c6bc1a.svg'

/// i18N Imports
import { getHomeDataInternational } from "@i18n/index.ts"
const { currentLocale } = Astro
const i18n = getHomeDataInternational({ currentLocale })
---

<section 
			id="salute"
			class="w-[100%] h-full m-auto flex flex-col gap-4 justify-center items-start align-middle 
			transition-all duration-100 ease-in-out"
		>
		<div id="text">
			<img 
				src={memoji.src} 
				alt="My Memoji"
				class="w-[100px] h-[100px] relative z-50" 
			/>
			<p set:html={i18n.salute.title} 
				class="text-[32px] font-termina-heavy w-auto h-auto inline-flex" />
			<p class="text-[18px]">{ i18n.salute.subtitle }</p>
		</div>
		<ul 
			id="buttons"
			class="w-auto h-auto inline-flex gap-2 flex-1 flex-wrap justify-start items-center 
			align-middle text-black"
		>
				{i18n.salute['access-buttons']?.map((button) => (
					<li>
						<a 
							href={button.href} 
							target="_blank" 
							rel="noopener noreferrer"
							class={`w-auto h-auto inline-flex p-2 px-8 rounded-full justify-center items-center
							align-middle ${button.color} hover:-translate-x-1 hover:-translate-y-1 transition-all transform-gpu
							duration-300 ease-in-out text-[14px] font-bold`}
						>
							<span class="pointer-events-none">{button.text}</span>
						</a>
					</li>
				))}
			</ul>
		</section>