---
/// Images Imports
import memoji from '@images/ec22897b-bbc7-4320-8822-d082d353c6bc1a.svg'

/// i18N Imports
import { getHomeDataInternational } from "@i18n/index.ts"
const { currentLocale } = Astro
const i18n = getHomeDataInternational({ currentLocale })

let text = i18n.SALUTE.ABOUT
text.map((text: string, index: number) => {
	console.log(index, text)
})
---

<section 
	id="salute"
	class="w-[100%] h-auto m-auto py-16 md:py-20 lg:py-26 flex flex-col gap-y-12 justify-center 
	items-center align-middle transition-all duration-100 ease-in-out"
>
	<div 
		id="text"
		class="w-auto h-auto relative top-0 left-0 right-0 flex flex-col
		justify-center items-center align-middle text-center gap-y-20 z-10"
	>
		<div 
			id="title"
			class="w-auto h-auto flex flex-col gap-y-4 justify-center items-center align-middle z-0"
		>
			<img
				id="my-memoji"
				src={memoji.src}
				alt="My Memoji"
				class="w-[200px] h-auto relative z-50" 
			/>
			<div
				id="title"
				class="text-[44px] md:text-[64px] lg:text-[72px] font-termina-heavy font-black uppercase 
				w-auto h-auto flex flex-col leading-[1.1] transition-all duration-200 ease-in-out" 
			>
				<h1>{ i18n.SALUTE.TITLE_ONE }</h1>
				<h1>
					{ i18n.SALUTE.TITLE_TWO }
					{ }
				</h1>
			</div>
		</div>
		<div 
			id="about"
			class="w-auto h-auto flex flex-col gap-y-10 justify-center items-center align-middle z-0"
		>
			{i18n.SALUTE.ABOUT.map((text: string, index: number) => (
				<p 
					id={`about-${index}`}
					class={`text-[18px] text-justify uppercase h-auto justify-center items-center align-middle z-0
					${index === i18n.SALUTE.ABOUT.length - 1 ? 'text-amber-400 text-end' : 'text-white text-justify'}`}
				>
					{ text }
				</p>
			))}
		</div>
	</div>
	<ul 
		id="buttons"
		class="w-auto h-auto inline-flex gap-2 flex-1 flex-wrap justify-center items-center 
		align-middle text-white"
	>
		{i18n.SALUTE.ACCESS_BUTTONS.map((button) => (
			<li id={`button-${button.ID}`}>
				<a
					href={button.HREF} 
					target="_blank" 
					rel="noopener noreferrer"
					class={`w-auto h-auto inline-flex p-2 px-8 rounded-full justify-center items-center
					align-middle border-2 hover:border-transparent hover:bg-accent-two hover:-translate-x-1 
					hover:-translate-y-1 hover:text-black transition-all transform-gpu duration-300 
					ease-in-out text-[14px] font-bold`}
				>
					<span class="pointer-events-none">
						{button.TEXT}
					</span>
				</a>
			</li>
		))}
	</ul>
</section>