---
interface Props {
	salute: string[];
	social: {
		ID: number;
		HREF: string;
		TITLE: string;
		ICONS: string;
	}[];
	contact: string[];
	images: string[];
	cv: string[];
}

import MemojiBentoItem from "@components/islands/salute/bento/memoji.astro"
import ContactBentoItem from "@components/islands/salute/bento/contact.astro"
import SocialsBentoItem from "@components/islands/salute/bento/socials.astro"
import SkillsBentoItem from "@components/islands/salute/bento/skills.astro"

const { salute, images, social, contact, cv } = Astro.props
---

<grid
	id="bento"
	class="w-full h-full inline-flex gap-4 relative left-0 right-0 top-0 mx-auto py-8 md:py-10 lg:py-28 flex-wrap justify-center items-start align-middle z-50"
>
	<MemojiBentoItem {salute} {images} />
	<ContactBentoItem {contact} {cv} />
	<div
		id="ss-section"
		class="w-auto h-auto flex flex-col justify-center items-center gap-6"
	>
		<SocialsBentoItem {social} />
		<SkillsBentoItem />
	</div>
</grid>
